body {
    background: url(tagok/bg3.jpg) left repeat-y, url(tagok/bg3.jpg) right repeat-y;
    margin-left: 150px;
    margin-right: 150px;
}
h1 {
    border-style: solid ;
    margin: 0px;
    font-size: 75px;
    text-align: center;
    font-weight: 900;
}
.bevezetés {
    margin: 5px;
    text-align: center;
    font-size: 25px;
}
table {
    margin: auto;
}
td {
    text-align: center;
}
th {
    text-align: center;
    font-size: 35px;
}
.útmutatás {
    text-align: center;
}
#jobb.background {
    border-image-repeat: repeat-y;
}
